.days-navigation {
  display: flex;
  justify-content: center;
  height: 100px;
  border-bottom: 1px solid grey;
}

.day-name {
  font-size: 9px;
  color: grey;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 0.8px;
}
.day-name:hover {
  color: blue;
}

.day-number {
  font-size: 20px;
  padding: 6px;
}
.day-number:hover {
  background-color: blue;
  color: white;
  border-radius: 50%;
}

.day {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-weight: 400;
  color: #70757a;
}

.week {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

header {
  border-bottom: 1px solid #00000024;
  padding: 20px 0 0px;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  z-index: 50;
}

.header-navbar {
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-bottom: 10px;
}

.create-button {
  width: 130px;
  height: 50px;
  background-color: #f0f8ff;
  border: 1px solid #0000004f;
  border-top: none;
  border-left: #0000004f;
  border-right: #0000004f;
  border-radius: 40px;
  outline: none;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 15px 13px 8px -8px #382c38;
  -moz-box-shadow: 15px 13px 8px -8px #382c38;
  box-shadow: 15px 13px 8px -8px #382c38;
}

.create-button:hover {
  background-color: #0000000d;
  -webkit-box-shadow: 15px 13px 8px -8px #382c38;
  -moz-box-shadow: 15px 13px 8px -8px #382c38;
  box-shadow: 15px 13px 8px -8px #382c38;
}

.today-button {
  height: 40px;
  background-color: #fff;
  border: 1px solid #00000036;
  outline: none;
  margin-right: 25px;
  border-radius: 5px;
  padding: 0 15px;
}

.today-button:hover {
  background-color: #0000000d;
}

.button-style {
  background-color: transparent;
  margin: 0 5px;
  border: none;
}

.arrow-button__size {
  font-size: 30px;
  border-radius: 100px;
  outline: none;
}

.arrow-button__size:hover {
  background-color: #0000000d;
}

.dates {
  font-size: 22px;
  margin-left: 20px;
}

.emptyCell {
  flex-grow: 1;
  height: 50px;
  border: 1px solid lightgrey;
}

.emptyRow {
  display: flex;
  justify-content: center;
}

.calendar-visualization {
/*   overflow: scroll; */
/*   height: 600px; */
  width: 100%;
}

.main {
  display: flex;
  padding-top: 5px;
  width: 100%;
  z-index: 1;
}
.main .timing__blocks {
  position: relative;
  top: 42px;
  margin-right: 10px;
  margin-left: 10px;
  height: 50px;
  color: black;
}
.main .line__blocks {
  height: 50px;
  width: 10px;
  border-top: 1px solid black;
}

header {
  border-bottom: 1px solid #00000024;
  padding: 20px 0 0px;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  z-index: 50;
}

.header-navbar {
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-bottom: 10px;
}

.create-button {
  width: 130px;
  height: 50px;
  background-color: #f0f8ff;
  border: 1px solid #0000004f;
  border-top: none;
  border-left: #0000004f;
  border-right: #0000004f;
  border-radius: 40px;
  outline: none;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 15px 13px 8px -8px #382c38;
  -moz-box-shadow: 15px 13px 8px -8px #382c38;
  box-shadow: 15px 13px 8px -8px #382c38;
}

.create-button:hover {
  background-color: #0000000d;
  -webkit-box-shadow: 15px 13px 8px -8px #382c38;
  -moz-box-shadow: 15px 13px 8px -8px #382c38;
  box-shadow: 15px 13px 8px -8px #382c38;
}

.today-button {
  height: 40px;
  background-color: #fff;
  border: 1px solid #00000036;
  outline: none;
  margin-right: 25px;
  border-radius: 5px;
  padding: 0 15px;
}

.today-button:hover {
  background-color: #0000000d;
}

.button-style {
  background-color: transparent;
  margin: 0 5px;
  border: none;
}

.arrow-button__size {
  font-size: 30px;
  border-radius: 100px;
  outline: none;
}

.arrow-button__size:hover {
  background-color: #0000000d;
}

.dates {
  font-size: 22px;
  margin-left: 20px;
}

* {
  box-sizing: border-box;
  font-family: Roboto;
}

/*# sourceMappingURL=styles.css.map */
/*# sourceMappingURL=index.scss.map */

/*# sourceMappingURL=styles.css.map */
