.main {
    display: flex;
    padding-top: 100px;
    width: 100%;
    z-index: 1;
    .timing {
        &__blocks {
            position: relative;
            top: 51px;
            margin-right: 10px;
            margin-left: 10px;
            height: 60px;
            color: black;
        }
    }
    .line {
        &__blocks {
            height: 60px;
            width: 10px;
            border-top: 1px solid black;
        }
    }
}